body{
    text-align:center;
    background:url("orangeb.webp");
}
.whateverss{
    background-color: antiquewhite;
    margin:5%;
    padding:5%;
    margin-left: 20%;
    margin-right: 20%;
}
