.one{
    display:flex;
    /* justify-content:space-between; */
    padding:20px;
}
.one_inside{
    padding:20px;
    border:inset orange 5px;
    background-color: rgb(189, 187, 186);
    width:40%;
    margin:10px;
    color:aliceblue;
}
.two_inside_one{
    padding:20px;
    border:inset orange 5px;
    background-color: rgb(197, 194, 192);
    margin:10px;
    color:aliceblue;
}