.one{
    display:flex;
    
    padding:20px;

}
.one_inside{
    padding:20px;
    border:inset orange 5px;
    background-color: rgb(189, 187, 186);
    width:40%;
    margin:10px;
    color:aliceblue;
    margin-left:10%;
}
.two_inside_one{
    padding:20px;
    border:inset orange 5px;
    background-color: rgb(197, 194, 192);
    margin:10px;
    color:aliceblue;
    
}
.yummy{
    border:10px aliceblue inset;
    margin:10px;
    text-align: center;
}

body{
    background:url("orangeb.webp");
    text-align: center;
}

.headingss{
    background-color: #f0b248;
    padding:1%;
    margin:5%;
    border:whitesmoke inset 5px;
    color:white;
    text-align: center;
    font-size: 20px;

}
.recipe{
    background-color: #a87f32;
    padding:3%;
    margin:5%;
    border:whitesmoke inset 5px;
    color:white;
}
